<!DOCTYPE html>
<html>
    <head>        
        <title>Weather</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>

            <form>
                <input placeholder="Provide location">
                <button>Search</button>
            </form>

            <p id="firstMessage"></p>
            <p id="messageTemperature"></p>
            <p id="secondMessage"></p>

        </div>
        
        {{>footer}}

        <script src="/js/main.js"></script>
    </body>

</html>